<div id="<%= dom_id section %>">
  <p>
    <strong>Section name:</strong>
    <%= section.section_name_id %>
  </p>

  <p>
    <strong>Class teacher:</strong>
    <%= section.class_teacher %>
  </p>

</div>
