<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Is class teacher:</strong>
    <%= teacher.is_class_teacher %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= teacher.grade_id %>
  </p>

</div>
