<div class="bg-white dark:bg-gray-900 h-screen">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add a new Teacher</h2>
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <%= render "form", teacher: @teacher %>
      </div>      
    </div>
</div>
