<h1>Editing class name</h1>

<%= render "form", class_name: @class_name %>

<br>

<div>
  <%= link_to "Show this class name", @class_name %> |
  <%= link_to "Back to class names", class_names_path %>
</div>
