<p style="color: green"><%= notice %></p>

<h1>Class names</h1>

<div id="class_names">
  <% @class_names.each do |class_name| %>
    <%= render class_name %>
    <p>
      <%= link_to "Show this class name", class_name %>
    </p>
  <% end %>
</div>

<%= link_to "New class name", new_class_name_path %>
