<p style="color: green"><%= notice %></p>

<h1>Section names</h1>

<div id="section_names">
  <% @section_names.each do |section_name| %>
    <%= render section_name %>
    <p>
      <%= link_to "Show this section name", section_name %>
    </p>
  <% end %>
</div>

<%= link_to "New section name", new_section_name_path %>
